@page
@model CreateModel

@{
    ViewBag.Title = "Create section";
}

<h2>@ViewData["Title"]</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputTitle">
            Name
        </label>
        <input id="inputTitle" 
               class="form-control" 
               type="text" 
               placeholder="Article title"
               asp-for="Section.Name" />
    </div>
    
    <button class="btn btn-primary"
            type="submit">
        Create
    </button>
    
    <a class="btn btn-primary" 
        asp-page="/Index">
        Cancel
    </a>
</form>
